
.activity-btn{
    background-color: slateblue;
    padding: 15px 0px;
    font-size: 18px;
    color: white;
    border: none;
    margin-left:-10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width:80%;
}
.activity-body {
    border: 2px solid darkred;
    color: #fff;
    background-color: mediumaquamarine;
    font-size: 16px;
    padding: 5%;
}
@media screen and (max-width:576px) {
    .activity-btn{
        width: 50%;
    }
}