body{
    overflow-x: hidden;
}
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
   
}
.name-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myicon{
    font-size: 26px;
    margin-right: 10px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 50px 30px 50px 30px;
}
.right-side{
    width: 240px;
    height: 1228px;
    background-color: gainsboro;
    padding:0 20px;
}
.btn{
    padding: 10px 8px;
    background-color: rgb(211, 97, 211);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 13px;
    margin-right: 2px;
}
.break-text{
    text-align: left;

}
.details{
    text-align: left;
    padding-left: 15px;
}
.break-btn{
    background-color: rgba(146, 206, 230, 0.456);
    width: 96%;
    padding: 14px 0;
}
.study-time{
    background-color: navajowhite;
    padding: 14px 0;
}
.breaktime-text{
    background-color: gray;
    padding: 14px 0;
    width: 94%;
    color: white;
}
.total-breaktime{
    font-weight: bold;
    margin-left: 30px;
}
.location,.age{
    font-weight: bold;
    font-size: 18px;
}
.frequently-text{
    padding-top:30px;
}
@media screen and (max-width:576px) {
    .container{
        grid-template-columns: repeat(1,1fr);
       
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
      
    }
    .right-side{
        width: 100%;
    }
    .break-btn{
        width: 92%;
        background-color: rgba(255, 0, 0, 0.587);
    }
    .btn{
        margin-right: 8px;
        font-size: 18px;
        border-radius: 5px;
        padding: 10px 18px;
    }
    .right-side{
        
        height: 710px;
        
    }
    .breaktime-text{
        width: 92%;

    }
}